<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole" xsi:type="Console" />
        
        <!-- Definindo um target de arquivo com o layout personalizado -->
        <target name="logfile" xsi:type="File" fileName="log.txt">
            <layout xsi:type="SimpleLayout" text="${date:format=yyyy-MM-ddTHH\:mm\:ssZ}${literal:text='\t'}${level:uppercase=true}${literal:text='\t'}${logger}${literal:text='\t'}${message}${literal:text='\n'}" />
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logconsole,logfile" />
    </rules>
</nlog>
